*{
    float: right;
}
.chatContainer{
    margin-top: 10%;
    height: 550px;
    width: 380px;
    opacity: 95%;
    background-color: rgb(26, 27, 44);
    border-radius: 7px;
    box-shadow: 5px 10px 9px rgb(30, 31, 46);
}

// .chatContainer1{
//     opacity: 95%;
//     display: inline-block;
//     background-color: rgb(40, 41, 62);
//     clip-path: polygon(100% 7%, 9% 100%, 100% 100%);
//     // background-color: rgb(26, 27, 44);
//     // clip-path: polygon(0 0, 100% 0, 100% 6%, 9% 100%, 0 100%, 0% 50%);
// }