<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <a href="#" class="logo">Vwatch</a>
    <a href="#" class="about">about</a>
  </header>
  <section id="bg">
    <img src="../assets/background1.jpg" id="background">
    <section id="youtubePlayer">
      <app-youtube-player> </app-youtube-player>
    </section>
    <section id="chatBox">
      <app-chat-box></app-chat-box>
    </section>
  </section>
  <script src="/socket.io/socket.io.js"></script>
</body>
</html>
