<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form role="search">
        <input id="video_url" type="search" placeholder="Search..." autofocus required #input>
        <button type="button" class="searchBtn" (click)="changeClick(input.value)">Go</button>    
    </form>
    <div class="y-video">
        <youtube-component id="video"
            [videoId]="id"
            (ready)="onReady($event)"
            (change)="onChange($event)"
        ></youtube-component>
        <div class="controls">
            <div class="progress-bar" id = "pb" (click)="progressbarClick($event)">
                <div class="progress-juice"></div>
            </div>
            <div class="buttons">
                <button class= "playpause" (click)="btnClick()"></button>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
</body>
</html>
